Package: gaiasky
Version: @version.revision@
Section: science
Priority: optional
Depends: default-jre
Architecture: all
Installed-Size: @installedsize@
Maintainer: Toni Sagrista <tsagrista@ari.uni-heidelberg.de>
Date: @date@
Homepage: https://zah.uni-heidelberg.de/gaia/outreach/gaiasandbox/
Bugs: https://github.com/langurmonkey/gaiasky/issues?q=is%3Aissue+is%3Aopen+label%3Abug
Description: Gaia Sky 3D Universe software.
 The Gaia Sky provides a full 3D Universe simulation with the Solar
 System and the Galaxy. It contains a fully interactive scene of our
 place in the Galaxy and the Universe.
